<h1 style="color:rgb(255, 183, 0);">Ingrese datos</h1>
<br>

<form action="/productos" method="post">

    <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input id="nombre" type="text" name="nombre" class="form-control">
    </div>

    <div>
        <label for="price"><b>Price</b></label>
        <input id="price" type="number" name="price" class="form-control">
    </div>

    <div>
        <label for="url"><b>URL</b></label>
        <input id="url" type="text" name="url" class="form-control"
    </div>

    <button class="btn btn-success mt-5">Enviar</button>
</form>